.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-event{
    width: 100%;
    height: 12rem;
    object-fit:cover;
}
.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.avatar-md{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}
.avatar-lg{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.avatar-xl{
    width:20rem;
    height:20rem;
    border-radius:50%;
    object-fit:cover;
}
.rounded-bottom-left {
    border-radius: 0  !important;
    border-bottom-left-radius: 2.0% !important; 
}
.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}