/* Nav Section */
.bg-consumer{
    background-color: #F9FFF4;
    }
.title{
font-family: Impact;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 40px */
/* text-shadow: 1px 1px 3px rgb(81, 81, 81); */
}


/* TEXT COLOR */
.text-yellowgreen{
    color: #70B563;
}

.text-orange{
  color: #FF8B4A;
}


/* THUMBNAIL */
.icon-sm{
    font-size: 2rem;
}
.icon-md{
  font-size: 3rem;
}
.icon-lg{
  font-size: 9rem;
}

.grid-img{
  width: 100%;
  height: 300px;
  /* Hight is not dynaic. Optimized for widescreen */
  object-fit: cover;
}

.avatar-sm{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.avatar-lg{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}


/* Animation Bottun for GREEN */
.btn-yellowgreen {
  background-color: #70B563 !important; /* デフォルトの背景色 */
  border-color: #5da44f !important; /* ボーダー色 */
  color: #fff !important; /* テキストカラー */
  transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.3s ease; /* なめらかな変化 */
}
.btn-yellowgreen:hover {
  background-color: #5da44f !important; /* 少し暗い色 */
  border-color: #4d9042 !important; /* ボーダー色を暗く */
  transform: translateY(-3px) scale(1.05); /* 軽く持ち上がる＆拡大 */
}
.btn-yellowgreen:focus {
  box-shadow: 0 0 0 0.25rem rgba(112, 181, 99, 0.5) !important; /* フォーカス時の枠線色 */
  transform: scale(1.1); /* 少し拡大 */
}
.btn-yellowgreen:active {
  transform: translateY(2px) scale(0.95); /* 押し込むような動き */
  background-color: #4d9042 !important; /* 色をさらに暗く */
}
.btn-yellowgreen:disabled {
  background-color: #cde6d3 !important; /* 薄い緑色 */
  border-color: #bcd9c5 !important; /* ボーダーも淡く */
  color: #6c757d !important; /* テキストをグレー調に */
  transform: none; /* 動きなし */
  cursor: not-allowed; /* カーソルを無効状態に */
}  

/* Animation for Button for ORANGE */
.btn-orange {
  background-color: #FF8B4A !important; /* デフォルトの背景色 */
  border-color: #E77A3F !important; /* ボーダー色 */
  color: #fff !important; /* テキストカラー */
  transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.3s ease; /* なめらかな変化 */
}
.btn-orange:hover {
  background-color: #E77A3F !important; /* 少し暗い色 */
  border-color: #CF6936 !important; /* ボーダー色を暗く */
  transform: translateY(-3px) scale(1.05); /* 軽く持ち上がる＆拡大 */
}
.btn-orange:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 139, 74, 0.5) !important; /* フォーカス時の枠線色 */
  transform: scale(1.1); /* 少し拡大 */
}
.btn-orange:active {
  transform: translateY(2px) scale(0.95); /* 押し込むような動き */
  background-color: #CF6936 !important; /* 色をさらに暗く */
}
.btn-orange:disabled {
  background-color: #F7D5C4 !important; /* 薄いオレンジ色 */
  border-color: #EAC3B1 !important; /* ボーダーも淡く */
  color: #6c757d !important; /* テキストをグレー調に */
  transform: none; /* 動きなし */
  cursor: not-allowed; /* カーソルを無効状態に */
}

/* Favorite Heart */
.fa-heart{
  font-size: 1.5rem;
}
